@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
  font-family: Poppins;
}
.container {
  width: 40rem;
  height: 100vh;
  margin: auto;
  display: grid;
  place-items: center;
}
.container a {
  background: #1db954;
  padding: 15px 20px;
  border: none;
  border-radius: 2rem;
}
.everything {
  width: 100%;
  height: 100vh;
}
.logo {
  width: 200px;
  height: 60px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btnss {
  display: flex;
  gap: 1rem;
}
.buttons {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.btn {
  padding: 15px 20px;
  border: none;
  border-radius: 2rem;
  background: #1db954;
  color: #fff;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #e4e4e4;
  border-radius: 10px;
}
.header {
  padding: 1rem 0 1rem 0;
}
.artist {
  width: 100%;
  height: 12rem;
  display: flex;
  gap: 2rem;
}
.img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
